<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/bola.ico" />
    <title>Pokédex</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="/img/logo.png" alt="" />
        <ul>
          <a href="/"><li>Pokédex</li></a>
          <a href="/cadastro"><li>Cadastro</li></a>
        </ul>
      </nav>
    </header>
    <main>
        <Section id="cadastro">
             <img id="pokedex" src="/img/pokedex.png" alt="" />
            <div class="campos">
            <form action="/cadastro" method="POST" >
                <div>
                    <label for="numero">Número:</label>
                    <input
                        type="text"
                        name="numero"
                        id="numero"
                        required
                    />
                </div>

                <div>
                    <label for="nome">Nome:</label>
                    <input
                        type="text"
                        name="nome"
                        id="nome"
                        required
                    />
                </div>

                <div>
                    <label for="tipo">Tipo:</label>
                    <input
                        type="text"
                        name="tipo"
                        id="tipo"
                        required
                    />
                </div>

                <div>
                    <label for="imagem"> Link Imagem:</label>
                    <input 
                    type="text" 
                    name="imagem" 
                    id="imagem" 
                    required
                    />
                </div>

                <div>
                    <label for="descricao">Descrição:</label>
                    <input
                        type="text"
                        name="descricao"
                        id="descricao"
                        required
                    />
                </div>

                <div>
                    <label for="altura">Altura:</label>
                    <input
                        type="text"
                        name="altura"
                        id="altura"
                        required
                    />
                </div>

                <div>
                    <label for="peso">Peso:</label>
                    <input
                        type="text"
                        name="peso"
                        id="peso"
                        required
                    />
                </div>

                <div>
                    <label for="categoria">Categoria:</label>
                    <input
                        type="text"
                        name="categoria"
                        id="categoria"
                        required
                    />
                </div>

                <div>
                    <label for="habilidade">Habilidade:</label>
                    <input
                        type="text"
                        name="habilidade"
                        id="habilidade"
                        required
                    />
                </div>
                <div>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; Pokémon - Todos os direitos reservados - 2022</p>
      </footer>
      <script src="./js/script.js"></script>
    </body>
  </html>